@font-face{
  font-family: "jungle-tribe";
  src: url(fonts/JungleTribeDemo-0W63G.ttf)
}

body{
    background: rgb(0, 0, 0);
    margin-top: 57px;
}

nav{
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 46%, rgb(79, 79, 79) 100%);
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; 
  z-index: 2;
}
 
 nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
 }
 
 nav li {
   font-family: "jungle-tribe";
   margin-right: 50%;
   margin: auto;
   padding: 0;
 }
 
 nav a {
   display: block;
   padding: 1em;
   color: #fff; 
   text-decoration: none;
 }
 
 nav a:hover {
   background-color: #43ff64d9;
 }

 #myVideo {
  object-fit: contain;
  object-fit: cover;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  
}

.video-box{
  background-color: #000000;
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
         
}

.video-box-child{
  text-align: center;
  
}

.responsive_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
  }

  .monthly-dish{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #999999;
  }

  .monthly-dish-title{
    color: #43ff64d9;
    font-family: "jungle-tribe";
    text-align: center;
    filter: drop-shadow(2px 4px 1px #000000);
    
  }

  .monthly-dish-profile{
    color:rgb(255, 255, 255);
    font-family: "arial";
    padding: 2rem;
    filter: drop-shadow(2px 2px 1px #000000);
  }

  .monthly-dish-image{
    border-radius: 30px;
    border: 5px solid #43ff64d9;
  }

  .monthly-dish-image-padding{
    padding: 2rem;
  }

  .icons-menu{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    animation-duration: 1s;
    animation-name: rising;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
  }

  .icon-text{
    font-family: "jungle-tribe";
    color: #43ff64d9;
    text-align: center;
  }

  .icons-menu:hover{
    transform: scale(1.05); 
    filter: drop-shadow(4px 1px 10px #b9ffc8c6);
    
}

  @media screen and (max-width: 960px) {
    .parent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 3fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }

    .monthly-dish{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      }

    .icons-menu{
      width: 60%;
    }

    nav li{
      font-size: smaller;
    }

    body{
      background: rgb(0, 0, 0);
      margin-top: 47px;
      
  }

  }